<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tanjinc.omgvideoplayer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <activity android:name="com.tanjinc.omgvideoplayer.VideoWindowActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:configChanges="orientation|keyboard|keyboardHidden|screenSize">
    </activity>
    <service android:name="com.tanjinc.omgvideoplayer.FloatWindowService">
    </service>
</manifest>