<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tanjinc.playermanager"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.tanjinc.omgvideoplayer.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tanjinc.omgvideoplayer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tanjinc.omgvideoplayer.VideoWindowActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <service android:name="com.tanjinc.omgvideoplayer.FloatWindowService"/>

        <activity android:name="com.tanjinc.omgvideoplayer.OmgTestActivity">

        </activity>
    </application>

</manifest>