<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tanjinc.omvideoplayer_lib"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <activity android:name="com.tanjinc.omvideoplayer_lib.VideoWindowActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:screenOrientation="sensor"
        android:configChanges="locale|screenLayout">
    </activity>

</manifest>